*:focus{
    outline: none;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
.register{
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .card{
        display: flex;
        width: 50%;
        flex-direction: row-reverse;//fica ao contrario
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;
        background-color: white;
        .left{
            flex: 1;
            background: linear-gradient(rgba(39,11,96,0.5), rgba(39,11,96,0.5)), url('https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            color: white;

            h1{
                font-size: 100px;
                line-height: 80px;
            }
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
                border-radius: 5px;
            } 
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            
            h1{
                color: #555
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px
                }
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    color: white;
                    cursor: pointer;
                    background-color: #938eef;
                }
            }

        }
    }
}